1. Hands on Python: Notebook(Colab, Jupyter) 1st November, 2025 (11:30 - 01:00)

### Notebooks
1. jupyter
2. Colab

jupyter, download Anaconda and install it <br>

Download link: [Anaconda](https://www.anaconda.com/download/)

Google Colab link: [Colab](https://colab.research.google.com/)

- Print Statement
- Variables
- Formatted String
- Input from user

In [9]:
# print statement

print(9)
print("9")

9
9

### Variables in Python

- integer
- floating point
- string
- boolean

In [ ]:
bucket = 15  #variable is 'store', data is 5 and the type of data is int
print(bucket)  #()

15

In [10]:
float_bucket = 15.449
round(float_bucket, 2)

15.45

In [ ]:
container = '7'
print(container)

In [3]:
# F-string

#An f-string (formatted string literal) in Python is a way to embed expressions (like variables or calculations)
#directly inside a string, making string formatting cleaner and more readable.

name = "Deepak"
age = 37

print(f"The type of age is: {type(age)}")
message = f"My name is {name} and I am {age} years old."
print(message)

The type of age is: <class 'int'>
My name is Deepak and I am 37 years old.

In [4]:
# Input from user in Python

name = input('Hi! what is your name:')

print(f'Hello {name}, how are you?')

Hello Deepak, how are you?

In [5]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = input('What is the price of the first prodcut?')

second_prodcut_price = input('What is the price of the second product?')

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: {total_price}')

The total price of the products is: 1020

In [6]:
type(first_product_price)

str

In [7]:
# Ask the price of two products from the user and tell the user the total price

first_product_price = float(input('What is the price of the first prodcut?'))

second_prodcut_price = float(input('What is the price of the second product?'))

total_price = first_product_price + second_prodcut_price

print(f'The total price of the products is: {total_price}')

The total price of the products is: 30.0

In [ ]:
type(first_product_price)

float

### List

In [11]:
# List

list_a = ["banana", "apple", "mango", "mango"]
print(list_a)

['banana', 'apple', 'mango', 'mango']

In [17]:
for index, item in enumerate(list_a):
    print(f"Index {index}: {item}")

Index 0: banana
Index 1: apple
Index 2: mango
Index 3: mango

In [14]:

set_a = set(["banana", "apple", "mango", "mango"])
set_a

{'apple', 'banana', 'mango'}

In [ ]:
type(set_a)

str

In [16]:
list_b = ["biscuit", "cake"]
# print(list_a + list_b)
list_c = list_a + list_b
print(list_c)

['banana', 'apple', 'mango', 'mango', 'biscuit', 'cake']

In [ ]:
for item in list_c:
    print(item)

banana
apple
mango
biscuit
cake

In [ ]:
# list_of_numbers = [10, 11, 12, 13, 14, 15, 16]
list_of_numbers = list(range(10, 20))

for i in range(0, len(list_of_numbers), 1):
    print(list_of_numbers[i])

10
11
12
13
14
15
16
17
18
19

In [ ]:
st = "pYThon"
print(st.upper())
print(st.lower())
print(st)

PYTHON
python
pYThon

In [ ]:
st = "$100"
st_new = st.replace("$", "")
# type(st_new)
# float(st_new)

str

### If-Else

✅ If-Else Statements
if, elif, and else are used to make decisions in your program. The condition inside if is evaluated — if it’s True, that block runs. If not, Python checks the elif condition. If none are true, else runs.

In [ ]:
x = 10

if x > 0:
    print("Positive number")
elif x == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

🔁 While Loop
A while loop repeats a block of code as long as a condition is True. It's useful when the number of iterations is not fixed.

In [ ]:
count = 0

while count < 3:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2

🔁 For Loop
A for loop is used to iterate over a sequence like a list, string, or range. It's ideal when you know in advance how many times to loop.

In [ ]:
fruits = ["apple", "banana", "grapes"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like grapes

In [ ]:
s = 0  # start with a sum of 0

for i in range(1, 4):  # loop from 1 to 3
    term = i ** 2       # raise i to the power of 2 (square it)
    s += term           # add the term to the sum
    print(f"After adding {i}**2 = {term}, total = {s}")

print("Final sum:", s)

After adding 1**2 = 1, total = 1
After adding 2**2 = 4, total = 5
After adding 3**2 = 9, total = 14
Final sum: 14

## Python Function
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
def fn():
  pass
def my_function(fname):                    #def function_name(parameter):
  print("IIT " + fname)
  print("welome")

my_function("Kharagpur") #function calling : function_name(argumnet)
my_function("Bombaby")
my_function("Delhi")

IIT Kharagpur
welome
IIT Bombaby
welome
IIT Delhi
welome

In [ ]:
def countdown(n):
    if n == 0:
        print("Happy New Year!")   # Base case
    else:
        print(f"{n} seconds remaining")
        countdown(n - 1)      # Recursive call

In [ ]:
countdown(10)

10 seconds remaining
9 seconds remaining
8 seconds remaining
7 seconds remaining
6 seconds remaining
5 seconds remaining
4 seconds remaining
3 seconds remaining
2 seconds remaining
1 seconds remaining
Happy New Year!

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)