### consider below reviews

In [21]:
review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [23]:
review_list = [review_1, review_2, review_3]

count_vect = CountVectorizer()
X_counts = count_vect.fit_transform(review_list)

type(X_counts)

scipy.sparse._csr.csr_matrix

In [24]:
X_names = count_vect.get_feature_names_out()
X_names

array(['and', 'as', 'boring', 'but', 'did', 'ending', 'good', 'it',
       'lengthy', 'like', 'movie', 'not', 'really', 'the', 'too', 'was',
       'we'], dtype=object)

In [25]:
a = pd.DataFrame(X_counts.toarray(), columns=X_names)
a

,and,as,boring,but,did,ending,good,it,lengthy,like,movie,not,really,the,too,was,we
0,1,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1
1,0,0,1,1,0,1,1,0,0,0,1,0,0,2,0,2,0
2,0,1,0,0,1,0,0,1,1,1,1,1,0,1,1,1,1