### consider below reviews

In [20]:
review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [22]:
review_list = [review_1, review_2, review_3]
tf_vect = TfidfVectorizer(min_df=1, lowercase=True, stop_words='english')
tf_matrix = tf_vect.fit_transform(review_list)
type(tf_matrix)

scipy.sparse._csr.csr_matrix

In [23]:
tf_matrix.shape

(3, 8)

In [24]:
tf_names = tf_vect.get_feature_names_out()
tf_names

array(['boring', 'did', 'ending', 'good', 'lengthy', 'like', 'movie',
       'really'], dtype=object)

In [25]:
tf_df = pd.DataFrame(tf_matrix.toarray(), columns=tf_names)
tf_df

,boring,did,ending,good,lengthy,like,movie,really
0,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.373119,0.631745
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.345205,0.000000
2,0.000000,0.584483,0.000000,0.000000,0.584483,0.444514,0.345205,0.000000