### consider below reviews

In [39]:
review_1 = 'The movie was good and we really like it'
review_2 = 'the movie was good but the ending was boring'
review_3 = 'we did not like the movie as it was too lengthy'

### creating tokens

In [40]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [41]:
review_1_tokens = word_tokenize(review_1)
review_2_tokens = word_tokenize(review_2)
review_3_tokens = word_tokenize(review_3)

### Join all the reviews by creating a set to get all unique words

In [42]:
review_tokens = set(review_1_tokens).union(set(review_2_tokens)).union(set(review_3_tokens))

len(review_tokens)

review_tokens

{'The',
 'and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we'}

### Processing tokens

In [43]:
review1_dict = dict.fromkeys(review_tokens, 0)

review1_dict

{'was': 0,
 'we': 0,
 'really': 0,
 'it': 0,
 'did': 0,
 'not': 0,
 'good': 0,
 'movie': 0,
 'ending': 0,
 'but': 0,
 'like': 0,
 'and': 0,
 'lengthy': 0,
 'as': 0,
 'too': 0,
 'boring': 0,
 'The': 0,
 'the': 0}

In [44]:
review2_dict = dict.fromkeys(review_tokens, 0)

review2_dict

{'was': 0,
 'we': 0,
 'really': 0,
 'it': 0,
 'did': 0,
 'not': 0,
 'good': 0,
 'movie': 0,
 'ending': 0,
 'but': 0,
 'like': 0,
 'and': 0,
 'lengthy': 0,
 'as': 0,
 'too': 0,
 'boring': 0,
 'The': 0,
 'the': 0}

In [45]:
review3_dict = dict.fromkeys(review_tokens, 0)

review3_dict

{'was': 0,
 'we': 0,
 'really': 0,
 'it': 0,
 'did': 0,
 'not': 0,
 'good': 0,
 'movie': 0,
 'ending': 0,
 'but': 0,
 'like': 0,
 'and': 0,
 'lengthy': 0,
 'as': 0,
 'too': 0,
 'boring': 0,
 'The': 0,
 'the': 0}

### adding count to the token

In [46]:
for token in review_1_tokens:
    review1_dict[token] += 1


review1_dict

{'was': 1,
 'we': 1,
 'really': 1,
 'it': 1,
 'did': 0,
 'not': 0,
 'good': 1,
 'movie': 1,
 'ending': 0,
 'but': 0,
 'like': 1,
 'and': 1,
 'lengthy': 0,
 'as': 0,
 'too': 0,
 'boring': 0,
 'The': 1,
 'the': 0}

In [47]:
for token in review_2_tokens:
    review2_dict[token] += 1


for token in review_3_tokens:
    review3_dict[token] += 1

### Creating and consolidated dataframe

In [48]:
reviews_dict_df = pd.DataFrame([review1_dict, review2_dict, review3_dict])
reviews_dict_df

,was,we,really,it,did,not,good,movie,ending,but,like,and,lengthy,as,too,boring,The,the
0,1,1,1,1,0,0,1,1,0,0,1,1,0,0,0,0,1,0
1,2,0,0,0,0,0,1,1,1,1,0,0,0,0,0,1,0,2
2,1,1,0,1,1,1,0,1,0,0,1,0,1,1,1,0,0,1